################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp_ConsoleApp/.vs/CSharp_ConsoleApp/v16/Server/sqlite3/storage.ide-shm
