<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FromEmail" value="XXXXXX"/>
    <add key="Password" value="XXXXXXX"/>
    <add key="Recipient_To" value="XXXXXX"/>
    <add key="Recipient_CC" value="XXXXXX"/>
    <add key="Recipient_BCC" value="XXXXXX"/>
  </appSettings>
</configuration>